#background {
    position: absolute;
    z-index: 0;
    display: block;
    min-height: 70%;
    min-width: 70%;
  }

  #content {
    position: absolute;
    z-index: 1;
  }

  #bg-text {
    color: grey;
    font-size: 36px;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
  }

  .row.invoice-info {
    text-align: center;
    margin-top: 2em;
  }



  table,
  td,
  th {
    border: 1px solid #929fa8 !important;
    border-collapse: collapse;
    text-align: center;
    padding: 1em;
  }

  th {
    background: #016db6 !important;
    text-align: center;
    color: white;
  }

  #payment_table_div th {
    background: #b60155 !important;

  }

  @media print {

    table,
    td,
    th {
      border: 1px solid #929fa8 !important;
      border-collapse: collapse !important;
      text-align: center !important;
      padding: 1em !important;
    }

    th {
      background: #016db6 !important;
      text-align: center !important;
      color: white !important;
    }

    #payment_table_div th {
      background: #b60155 !important;

    }

  }